[user]
	name = Luke Avery
	email = "luke.avery@live.co.uk\ngit config --global user.name cogmob\ngit config --global core.autocrlf input\n\n# rc files\nexport CYGWIN=winsymlinks"
[push]
	default = matching
[core]
	trustctime = false
	filemode = false
	autocrlf = input
	pager = cat
	editor = vim
[diff]
    tool = meld
	guitool = kdiff3
	guitool = kdiff3
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
	tool = kdiff3
	tool = kdiff3
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
	trustExitCode = false
	path = C:/Program Files/KDiff3/kdiff3.exe
	trustExitCode = false
[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
	trustExitCode = falsE
	path = C:/Program Files/KDiff3/kdiff3.exe
	trustExitCode = falsE
[http]
	emptyAuth = 1
[url "“git@gitlab.com:“"]
	insteadOf = “https://gitlab.com/”
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
